<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<strong> Hello <span th:text="${Name}">Investor</span> </strong>

<p>Welcome to <strong>NestEd!</strong></p>

<p>My name is Ankit R Himatsingka. I am one of the co-founders &amp; CEO of
    NestEd.</p>

<p>Our goal is simple: to help every parent save smartly and build the best
    possible future for their child. I'm genuinely glad you've chosen NestEd for
    this meaningful journey. It means a lot to us.</p>

<p>If you ever need help, advice, or just want to talk through your plan, I'm
    <strong>personally available anytime</strong>. You can always reach me at
    <strong> 9560046103</strong>.</p>

<p>Let's make this journey count.</p>

<p>Warmly,<br/>
    <strong>Ankit R Himatsingka</strong><br/>
    On behalf of entire team NestEd</p>
</body>
</html>
