name: Deploy backend to Digital Ocean

on:
  push:
    branches:
      - main   # default branch
    paths:
      - 'server/**'

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: server

    steps:
      # 1️⃣ Checkout code
      - name: Checkout
        uses: actions/checkout@v4

      # 2️⃣ Setup Java
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      # 3️⃣ Build JAR using Gradle
      - name: Build Spring Boot JAR
        run: ./gradlew clean bootJar

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DO_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.DO_HOST }} >> ~/.ssh/known_hosts

      - name: Copy JAR (rsync)
        run: |
          scp build/libs/nested-app-0.0.1-SNAPSHOT.jar \
            ${{ secrets.DO_USER }}@${{ secrets.DO_HOST }}:/root/nested-app-0.0.1-SNAPSHOT.jar

      # 5️⃣ Restart app
      - name: Restart Spring Boot
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USER }}
          key: ${{ secrets.DO_SSH_KEY }}
          script: |
            cd /root
            sudo systemctl restart app
            sudo systemctl status app --no-pager
